@charset "UTF-8";

/* 2025 Type Device Breakpoints */

/*Dispositivos pequenos
    600px p baixo
*/

/*Celular
600px - 768px    
*/

/* Tablet
    768px-992px
*/

/*Desktops 
    992px-1200px
*/

/* Dispositivos Grande 
    1200px p cima
*/

@media print {
    body {
        background-image: url(../imagens/back-print.jpg);
        font-family: Arial, Helvetica, sans-serif;
    }

    main h1 {
        color: black;
        border: 1px solid black;
    }

        #phone {display: none;}
        #tv {display: none;}
        #impressora {display: block;}
        #tablet{display: none;}
        #pc{display:none;}
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {
        display: none;
    }

    #tablet {
        display: block;
    }
}

/* Pc */
@media screen and (min-width:992px) and (max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone {display:none}
    #pc{display:block;}
}

/* TV */
@media screen and (min-width:1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);

    }

    #phone{display:none}
    #tv{display: block;}
}