@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1;
}

body {
    background-color: rgb(126, 126, 126);
}

header {
    
    background-color: rgb(71, 71, 71);
    color: rgb(0, 0, 0);
}

header > h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

#burguer {
    text-align: center;
    padding: 10px;
    display: block;
    background-color: rgb(53, 53, 53);
}

#burguer:hover {
    background-color: rgba(255, 255, 255, 0.521);
    transition-duration: .5s;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}


menu > ul > li > a:hover {
    background-color: gray;
    
     transition-duration: .5s;
}

menu > ul > li > a {
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid #474747;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    max-width: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

article > h2 {
    padding-bottom: 5px;
}

article > p {
    text-align: justify;
    margin: 20px;
    text-indent: 10px
}